.detailsOverview {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    flex-flow: row nowrap;
    .details{
        flex-basis: 65%;
    }
}
.details {
    display: flex;
    align-self: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 5px;

    div {
        p{
            margin: 0;
            border-bottom: 1px solid black;
            text-align: center;
            font-size: 100%;
            font-weight: bold;
        }
    }
    .detailLabel {
        border-bottom: 0px;
        font-weight: normal;
        font-size: 85%;
        text-align: left;
    }
    .detailDivPlayer {
        flex-basis: 49%;
    }

    .detailDivName {
        flex-basis: 49%;
    }

    .detailDivClass {
        flex-basis: 15%;
    }

    .detailDivLevel {
        flex-basis: 10%;
    }

    .detailDivRace {
        flex-basis: 25%;
    }

    .detailDivAlignment {
        flex-basis: 25%;
        min-width: 115px;
    }

    .detailDivDeity {
        flex-basis: 20%;
    }

    .detailDivSize {
        flex-basis: 8%;
    }
    .detailDivAge {
        flex-basis: 8%;
    }
    .detailDivGender {
        flex-basis: 8%;
    }
    .detailDivHeight {
        flex-basis: 8%;
    }
    .detailDivWeight {
        flex-basis: 15%;
    }
    .detailDivEyes {
        flex-basis: 15%;
    }
    .detailDivHair {
        flex-basis: 15%;
    }
    .detailDivSkin {
        flex-basis: 15%;
    }
}

.imageDiv {
    padding-right: 3px;
    flex-basis: 35%;
    img {
        max-width: 100%;
        min-height: 80%;
        height: auto;
        width: 100%;
    }
}