@import "detailsOverview";
@import "statsOverview";
@import "micro20";

.dnd35CharViewer{
  .charViewerInfo{
    .charOverviewTab{
      display: flex;
      flex-direction: column;
      text-align: center;
      flex-wrap: wrap;
    }
  }
}
