@import "detailsOverview";
@import "statsOverview";
@import "micro20";

.dnd35CharViewer{
  .charViewerInfo{
    .charOverviewTab{
      display: flex;
      flex-direction: column;
      text-align: center;
      flex-wrap: wrap;
    }
  }
}

.charViewEditButtons {
  display: flex;
  text-align: right;
  flex-direction: row;
  margin: 10px 0px;
  justify-content: flex-end;

  .spacer {
    flex-basis: 25px;
  }
}