@import './dnd35/index';

.characterCreatorForm {
  margin-bottom: 15px;

  .formContent {
    padding: 0px 20px 12px 20px;
  }

  .buttons {
    text-align: center;
    & > div {
      margin: 10px 15px;
    }
  }

  .designForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & > div {
      flex-basis: 40%;
    }
  }
}
