@import './dnd35/index';

.characterCreatorForm {
  margin-bottom: 15px;

  .formContent {
    padding: 0px 20px 12px 20px;
  }

  .designForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.campaignCreatorForm {
  .campaignDesigner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.characterStepButtons {
  text-align: center;
  & > div {
    margin: 10px 15px;
  }

}

.placeholderStep {
  width: 100%;
  display: flex;
  justify-content: center;
}
