.dnd35CharViewer{
	.charViewerInfo {
		.statColumn{
			border: 2px solid black;
		}
		.statModColumn{
			border: 2px solid black;
		}
		.statTable{
			border: 1px solid;
			border-color:black;
		}
	}
}