.content {
  margin: 0px 10%;
}

.footer {
  margin: 0px 0px 10px 0px;
  padding: 25px;
  background-color: #F0F0F0;
}

.sidebar {
  padding: 50px;
  position: absolute;
  top: 64px;
}

.quiz-input-container {
  margin-top: 25px;
  padding: 10px;
}

ul {
  padding: 0px;

  > div {
    margin-top: 20px;
  }
}

.navbarButton {
  top: 14px;

  div {
    color: white;
  }
}