.content {
  margin: 0px 10%;
}

.footer {
  margin: 0px 0px 10px 0px;
  padding: 25px;
  background-color: #F0F0F0;
}

ul {
  padding: 0px;

  > div {
    margin-top: 20px;
  }
}

.navbarButton {
  top: 14px;

  div {
    color: white;
  }
}

.sidebarTitle {
  height: 64px;

  & > div {
    padding-top: 8px;
  }
}

.active {
  color: rgb(0, 188, 212) !important;
  background-color: #F0F0F0 !important;

  span {
    color: rgb(0, 188, 212) !important;
  }
}

.sidebarDiv {
  margin: 15px 0px 15px 0px;
}
