.characterCreatorForm {
  .currentStep {
    padding: 5px 25px 15px 25px;
  }

  .characterStats {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;

    .statContainer {
      display: flex;
      align-self: center;
      justify-content: space-around;
      flex-direction: row;

      .statValue {
        flex-basis: 20%;
      }

      .statModifier {
        flex-basis: 20%;
      }

      .rollButton {
        top: 18px;
      }
    }
  }

  .characterDetails {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;

    div {
      max-height: 72px;
      flex-basis: 50%;

      div {
        text-align: left;
      }
    }
  }

  .characterItems {
    .addItem {
      padding-top: 15px;
      text-align: right;
    }
  }
}

.itemModal {
  .itemForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    div {
      flex-basis: 40%;
    }

    .itemCheckbox {
      align-self: center;
    }
  }
}