.characterCreatorForm {
  .currentStep {
    padding: 5px 25px 15px 25px;
  }

  .statsForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;

    .statContainer {
      display: flex;
      align-self: center;
      justify-content: space-around;
      flex-direction: row;

      .statValue {
        flex-basis: 20%;
      }

      .statModifier {
        flex-basis: 20%;
      }

      .statIcon {
        top: 18px;
      }
    }
  }

  .characterDetails {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;

    div {
      flex-basis: 50%;

      div {
        text-align: left;
      }
    }
  }
}
